@page "/"

<h1 style="text-align:center; background-color:aliceblue; font-family:'Times New Roman', Times, serif;">Welcome User!</h1>

<img src="/Images/home.jpg" alt="Alternate Text" style="display: block; margin-left: auto; margin-right: auto; width: 500px; height:500px" />